.App {
  text-align: center;
}

.AppLogo {
  height: 13vh;
  width: 13vh;
  border-radius: 50%;
  margin-right: 5%;
}

.AppHeader {
  background-color: #886F68;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D2C2E;
}

.AppBody {
  background-color: #F5EDF0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Row {
  margin: 10px;
  flex-direction: row;
}

.CategoriesButton {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #3D2C2E;
  color: #F5EDF0;
  border: 0;
  border-radius: 10px;
  margin: 0px 2px;
  width: 25vh;
}

.ShoppingList {
  color: #3D2C2E;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.Hierarchical {
  color: #3D2C2E;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}

.Submenu {
  background-color: white;
  position: absolute;
  color: #3D2C2E;
  border-radius: 15px;
  margin-left: -25vh;
  min-width: 40vh;
  border-width: 1px;
  border-color: #3D2C2E;
  border-style: solid;
}

.ShoppingList .Submenu {
  display: none;
}

.ShoppingList:hover .Submenu {
  display: block;
}

.Checkout {
  margin: 5px;
  background-color: #886F68;
  color: white;
  border-radius: 5px;
  border: 1;
  border-color: white;
  padding: 5px 30px;
}

.LeftText {
  text-align: left;
  margin: 5px;
  font-size: small;
}

.Line {
  margin: 5px;
  color: #886F68;
  width: 95%;
}

.RowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuantityInput {
  width: 50px;
}
